// Variables

// Gray and Brand Colors for use across theme

//@theme-primary:    #2C3E50;
//@theme-success:    #18BC9C;
//@theme-brand: #d8bc37;

@theme-primary: #6d0034;
@theme-primary-gradient: #ad0052;
@theme-success: #B15983;
@theme-brand: #D58EAF;
@color-primary-0: #913460;	/* Main Primary color */
@color-primary-1: #D58EAF;
@color-primary-2: #B15983;
@color-primary-3: #6A123C;
@color-primary-4: #470022;


@gray-base:        #000;
@gray-darker:      lighten(@gray-base, 13.5%); // #222
@gray-dark:        lighten(@gray-base, 20%);   // #333
@gray:             lighten(@gray-base, 33.5%); // #555
@gray-light:       lighten(@gray-base, 46.7%); // #777
@gray-lighter:     lighten(@gray-base, 93.5%); // #eee